{% for item in items %}
    {% set itemLabel = item.label ?? (datatable.name ~ "." ~ item.key) | trans %}

    {% if item.path %}
        {% if item.icon %}
            <a class="btn btn-icon btn-bg-light btn-sm w-30px h-30px me-1 btn-active-light btn-active-color-{{ item.contextClass ?? "primary" }}"
               href="{{ item.path }}" title="{{ itemLabel }}"
                    {{ item.confirmMessage ? "data-ap-confirm-message=" ~ item.confirmMessage : "" }}
                    {{ item.contextClass == "danger" ? "data-ap-confirm='true' data-no-swup='1'" : "" }}
            >
                <i class="{{ item.icon }}"></i>
            </a>
        {% else %}
            <a class="btn btn-sm {{ item.contextClass ? "btn-" ~ item.contextClass : "btn-light" }}"
               href="{{ item.path }}"
                    {{ item.confirmMessage ? "data-ap-confirm-message=" ~ item.confirmMessage : "" }}
                    {{ item.contextClass == "danger" ? "data-ap-confirm='true' data-no-swup='1'" : "" }}
            >
                {{ itemLabel }}
            </a>
        {% endif %}
    {% else %}
        {# TODO: Plain text #}
    {% endif %}
{% endfor %}
